body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.terminal-window {
    width: 80%;
    max-width: 850px;
    height: 50vh;
    border: 2px solid #000;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

.title-bar {
    background-color: #333;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.title {
    color: white;
    font-weight: bold;
    flex-grow: 1; 
}

.button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.close {
    background-color: #FF0000; /* Rojo */
}

.minimize {
    background-color: #FFFF00; /* Amarillo */
}

.maximize {
    background-color: #00FF00; /* Verde */
}

.terminal {
    flex: 1;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: monospace;
    overflow-y: auto;
    font-size: 20px;
}

.output pre {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
}

.output pre.code{
    color: #FFFF00;
    font-weight: bold;
}

.output {
    margin-top: 10px;
    animation: fadeIn 2s;
}

.directory {
    color: #FFFFFF; 
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    display: flex; 
    align-items: center; 
}

.typing-animation {
    display: inline-block;
    overflow: hidden;
    animation: typing 5s steps(35) infinite;
}

.text-art p {
    font-size: 7px; 
}
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.macos-taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999; 
}
.macos-taskbar img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
}
.macos-menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; 
}

.macos-menu-bar img {
    display: block;
    margin: 0; 
    max-width: 100%; 
}




